@font-face {
    font-family: 'nehama';
    src: url('../font/nehama-webfont.woff') format('woff');
}
@font-face {
    font-family: nehama;
    src: url('../font/nehama-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Game of Thrones';
    src: url('../font/Game of Thrones.ttf') format('truetype');
}

body
{
    direction:rtl;
}

:root {
    --spink: #ff36a2;
    --sblue: #65dbec;
    --spurple: #B30098;
    --syellow: #ffeb01;
    --sgreen: #4FC97C;
    --sfont: #1A1D1E;
    --spink-hover: #c03c7b;
    --sblue-hover: #2f95a1;
    --spurple-hover: #922977;
    --syellow-hover: #c3ae33;
    --sgreen-hover: #539764;
    --wwwind: 0px;
    --hwwind: 0px;
}
/*--sfont: #212728;*/
/*--spink: #ff36a2;
--sblue: #2cc1d7;
--spurple: #942884;
--syellow: #ffeb01;
--sgreen: #64ca89;*/


#container {
    width: var(--wwwind) !important;
    min-width: 1263px;
    max-width: 1384px;
    padding: 0 0;
    font-family: 'Varela Round';
    font-weight: normal;
    color: var(--sfont);
}

    #container > header {
        background-color: var(--spink);
        height: 50px;
        position: sticky;
        top: 0;
        width: var(--wwwind);
        min-width: 1263px;
        max-width: 1384px;
        z-index: 100;
    }

@media screen and (max-width: 500px) {
    #container > header {
        position: relative;
    }
}

    #container > header > nav {
        width: 900px;
display:inline-block;
    }

    #container > header > nav>ul {
        width: 900px;
        display: inline-block;
    }


#container > header > nav > ul > li {
        list-style: none;
        width: 110px;
        display: inline-block;
        text-align: center;
        font-size: 12pt;
        line-height: 20px;
        margin-top: 15px;
    }
#container > header > nav > ul > li > a  {
color:var(--sfont);
    }

#container>header>nav>ul>li:nth-child(n+3){
    border-right: 1px dotted black;
}

#container>header>nav>ul>li>ul{
    display:none;
    position:absolute;
    top:35px;

}

#container>header nav ul li a:hover{
color:white ;
cursor:default;
text-decoration:none;
}

#container>header nav ul li ul li a:hover{
    cursor: pointer;
    }    

#container>header nav ul li:hover>ul{
    display:block;
    width:130px;
    padding:13px 0 0 0;
    font-size:10pt;
    height:auto;
    line-height:35px;
    list-style:none;
    text-align:center;
    background-color:var(--spink);
    color: var(--sfont);
    border-radius:4px;
    margin-right:-10px;
}
    

#allnav > ul > li > a:focus + .submenu, #allnav > ul > li:focus .submen, .submen:focus {
    display: block;
    width: 120px;
    padding: 13px 0 0 0;
    font-size: 10pt;
    height: auto;
    line-height: 35px;
    list-style: none;
    text-align: center;
    background-color: var(--spink);
    color: var(--sfont);
    border-radius: 4px;
    margin-right: -10px;
}


#container > header nav ul li ul li:hover {
    color: white;
}

#container>header nav ul li ul li a {
        color: var(--sfont);
        width:120px;
        height:35px;
        display:inline-block;
        font-size:10pt;
    }

#container>header nav ul li ul li a:hover {
        color: white;
        text-decoration:none;
    }

.anotwork:hover{
    cursor:not-allowed !important;
}

#opennigsec {
    background-color: var(--sblue);
    background-image: url('../image/homepage/Artboard 1.png');
    background-size: auto;
    background-position: center;
    background-size: auto 400px;
    background-position-x: right;
    background-position-y: bottom;
    display: inline-block;
}

.sec300 {
    height: 400px;
    /*width: calc(100vw - 30px);
    BORDER: 5PX SOLID BLACK;
    MARGIN: 0PX 10px 10px 10px;*/
    width: var(--wwwind);
    min-Width: 1263px;
    max-width: 1384px;
}

#bananasec {
    background-color: var(--spurple);
}

#bananasec {
    background: -moz-linear-gradient(45deg, rgba(70,219,224,0.45) 1%, rgba(60,206,229,1) 100%);  FF3.6-15
    background: -webkit-linear-gradient(45deg, rgba(70,219,224,0.45) 1%,rgba(60,206,229,1) 100%);  Chrome10-25,Safari5.1-6
    background: linear-gradient(45deg, rgba(70,219,224,0.45) 1%,rgba(60,206,229,1) 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
}

#bikesec {
    background-color: var(--syellow);
}

#logo {
    width: 42px;
    height: 42px;
    background-image: url('../image/logo.png');
    background-size: 42px 42px;
    display: inline-block;
    position: absolute;
    top: 3px;
}

#logo:hover{
    cursor:pointer !important;
}

#h1logo {
    font-weight: bold;
    color: black;
    font-size: 138px;
    height: 190px;
    line-height: 45px;
    margin-bottom: 43px;
    padding-top: 80px;
    margin-right: 90px;
    text-shadow: 0px 0px 0 rgb(178,-1,151),1px -1px 0 rgb(178,-1,151),2px -2px 0 rgb(178,-1,151),3px -3px 0 rgb(178,-1,151),4px -4px 0 rgb(178,-1,151),5px -5px 0 rgb(178,-1,151),6px -6px 0 rgb(177,-2,150),7px -7px 0 rgb(177,-2,150),8px -8px 0 rgb(177,-2,150),9px -9px 0 rgb(177,-2,150),10px -10px 0 rgb(177,-2,150),11px -11px 0 rgb(177,-2,150),12px -12px 0 rgb(177,-2,150), 13px -13px 0 rgb(177,-2,150),14px -14px 0 rgb(177,-2,150),15px -15px 0 rgb(177,-2,150); 
    -webkit-text-stroke-width: 2PX;
    -webkit-text-stroke-color: black;
}


    #h1logo span {
        font-size: 47px;
        line-height: 22px;
        margin-top: 0px;
        padding-right: 10px;
        text-shadow: 0px 0px 0 rgb(178,-1,151),1px -1px 0 rgb(178,-1,151),2px -2px 0 rgb(178,-1,151),3px -3px 0 rgb(178,-1,151),4px -4px 0 rgb(178,-1,151),5px -5px 0 rgb(178,-1,151),6px -6px 0 rgb(177,-2,150),7px -7px 0 rgb(177,-2,150),8px -8px 0 rgb(177,-2,150),9px -9px 0 rgb(177,-2,150),10px -10px 0 rgb(177,-2,150);
        -webkit-text-stroke-width: 1px;
    }



#intob {
    background-color: blue;
    width:55vw;
    margin: 50px 2.5vw;
    height:260px;
    position:relative;
    top:20px;
}

#hazafot{
margin-top:50px;
}

.abtngif {
    height: 120px;
    background-image: url('../image/homepage/assent.svg');
    width: 120px;
    background-size: 120px 120px;
    font-family: nehama;
    text-align: center;
    padding-top: 33px;
    font-size: 32pt;
    line-height: 25pt;
    display: inline-block;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2.5PX;
    -webkit-text-stroke-color: black;
    FLOAT: RIGHT;
    MARGIN-RIGHT: 90PX;
    animation: shadow-pulse 0.8s infinite;
    z-index: 2;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

@keyframes shadow-pulse {
    0% {
        filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.8));
        -webkit-filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.8));
    }
    60% {
        filter: drop-shadow( 8px 8px 2px rgba(0, 0, 0, 0.8));
        -webkit-filter: drop-shadow( 8px 8px 2px rgba(0, 0, 0, 0.8));
    }
    100% {
        filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, 0.8));
        -webkit-filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, 0.8));
    }
}

#dotsban {
    background-image: url('../image/homepage/dots.svg');
    background-size: 600px 600px;
    width: 400px;
    height: 400px;
    background-position:center;
    float: left;
    position:relative;
    bottom:20px;
    left:50px;
}

.btncrusle {
    width: 250px;
    font-family: nehama;
    text-align: center;
    font-size: 32pt;
    /*-webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2.5PX;
    -webkit-text-stroke-color: black;*/
    border-radius: 20px;
    display: inline-block;
    height: 44px;
    position: absolute;
    right: 400px;
    top: 300px;
    line-height: 43px;
    filter: drop-shadow( 4px 4px 2px rgba(0, 0, 0, 0.8));
    -webkit-filter: drop-shadow( 4px 4px 2px rgba(0, 0, 0, 0.8))
}

.btncrusle:hover{
    text-decoration:none;
}

#btnbanana {
    background-color: var(--sblue);
    color:var(--sfont);
}

#btnbanana:hover {
    background-color: var(--sblue-hover);
}

#btnbike {
    background-color: var(--spurple);
    color: var(--sblue);
}

#btnbike:hover {
    background-color: var(--spurple-hover);
}

#banana {
    background-image: url('../image/homepage/banana.svg');
    background-size: 450px 450px;
    animation: banana-dance 1.5s infinite;
    width: 450px;
    height: 450px;
    float: left;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

#botsec {
    background-color: var(--sgreen);
    overflow: hidden;
    background-image: url('../image/homepage/photpht.png');
    background-size: 100% auto;

}

#btnbot{
    background-color:var(--spink);
    color:var(--sfont);
}

    #btnbot:hover {
        background-color: var(--spink-hover);
    }

@keyframes banana-dance {
    0% {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
    }

    50% {
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
    }

    100% {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        ;
    }
}

.abtngif:focus, .abtngif:hover {
    text-decoration: none;
    mix-blend-mode: darken;
}

#hazafot h2 {
    background-color: black;
    color: VAR(--sblue);
    font-family: 'Varela Round';
    FONT-SIZE: 24PX;
    WIDTH: 680PX;
    text-align: center;
    FONT-WEIGHT: BOLD;
    margin-bottom: 0;
}

#shiul{
    padding-top:50px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius:100px;
}

.carousel-inner {
    height:400px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height:35px;
    width:35px;
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
}


#d0211 {
    background-color: var(--syellow);
    height: calc(80vh - 50px);
}

#d1995 {
    background-color: var(--spink);
    height: calc(80vh - 50px);
}

article {
    background: -moz-linear-gradient(45deg, rgba(70,219,224,1) 0%, rgba(69,218,224,1) 1%, rgba(0,163,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(70,219,224,1) 0%,rgba(69,218,224,1) 1%,rgba(0,163,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(70,219,224,1) 0%,rgba(69,218,224,1) 1%,rgba(0,163,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9946dbe0', endColorstr='#00a3cc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 10px 160px;
}

article header p {
    width:600px;
}

article h2 {
    font-family: nehama;
    font-size: 32pt;
    line-height: 25pt;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2.5PX;
    -webkit-text-stroke-color: black;
}

article h3{
    font-weight:bold;
    font-size:15px;
}

article section p{
    font-size:14px;
}

.whitesec {
    width: 900px;
    background-color: white;
    padding: 01px 0px;
    margin: 0px 0px 10px 0px;
    background-size: 60px 60px;
    background-attachment: fixed;
    background-size: 40px 40px;
    background-position: center;
}

.blueback {
    background: -moz-linear-gradient(45deg, rgba(70,219,224,1) 0%, rgba(69,218,224,1) 1%, rgba(0,163,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(70,219,224,1) 0%,rgba(69,218,224,1) 1%,rgba(0,163,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(70,219,224,1) 0%,rgba(69,218,224,1) 1%,rgba(0,163,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9946dbe0', endColorstr='#00a3cc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin: 19px 20px;
    padding: 13px;
    overflow: hidden;
    height:240px;
}

.medicen {
    display: inline-block;
    width: 500px;
    margin: 0px 0px;
    padding: 0px 0px;
}


article h1 {
    text-shadow: 0px 0px 0 rgb(178,-1,151),1px -1px 0 rgb(178,-1,151),2px -2px 0 rgb(178,-1,151),3px -3px 0 rgb(178,-1,151),4px -4px 0 rgb(178,-1,151),5px -5px 0 rgb(178,-1,151),6px -6px 0 rgb(177,-2,150),7px -7px 0 rgb(177,-2,150),8px -8px 0 rgb(177,-2,150),9px -9px 0 rgb(177,-2,150),10px -10px 0 rgb(177,-2,150);
    color: black;
    -webkit-text-stroke-width: 2PX;
    -webkit-text-stroke-color: black;
    font-size:80px;
}

#dogphoto {
    background-image: url('../image/dogs/dog.svg');
}

.pagephoto{
    display: inline-block;
    height: 274px;
    width: 230px;
    background-size: 230px 308px;
}

#shiulphoto {
    background-image: url('../image/shiul/Asset 1.svg');
    background-size: 318px 277px;
    position: relative;
    left: 20px;
    height: 258px;
    width: 318px;
    top: 16px;
}

#preiodphoto {
    background-image: url('../image/preiod/Asset 3.svg');
    background-size: 318px 277px;
    position: relative;
    left: 20px;
    height: 273px;
    width: 318px;
    top: 1px;
}

#stomachphoto {
    background-image: url('../image/stomech/Asset 2.svg');
    background-size: 318px 277px;
    position: relative;
    height: 273px;
    width: 318px;
    top: 1px;
}

.headertxt {
    display: inline-block;
    width: 600px;
    margin-left: 70px;
    vertical-align: top;
    padding-top: 30px;
}

#periodheadertxt{
    margin-left:18px;
}

#periodheadertxt>p {
    width: 575px;
}

article header {
    height: 274px;
}



.tip {
    display: inline-block;
    margin: 0px 0px;
    padding: 0px 0px;
    vertical-align: top;
    padding: 30px;
    width: 300px;
    height: 200px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    background-repeat:no-repeat;
    float:left;
}

.tip1 {
    background-image: url('../image/tips/Asset 1.svg');
    background-size: 423px 204px;
    width: 320px;
    height: 213px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    background-position: center;
    text-align: center;
}

.tip2 {
    background-image: url('../image/tips/Asset 2.svg');
    height: 281px;
    position: relative;
    padding: 49px 49px 63px 31px;
    text-align: center;
    background-size: 280px 272px;
    bottom: 21px;
    right: 11px;
}

.tip3 {
    background-image: url('../image/tips/Asset 3.svg');
    height: 257px;
    width: 334px;
    position: relative;
    padding: 45px 49px 73px 122px;
    text-align: center;
    background-size: 401px 237px;
    bottom: -5px;
    right: 73px;
}

.tip3 h3, .tip3 p {
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
}

#bottle2 {
    background-image: url('../image/Layer 7.png');
}

.tafrit{
    width:448px;
    display:inline-block;
}

.tafrit2 {
    width: 408px;
    height: 400px;
    margin:20px;
}

.tafrit2 h2{
    font-size:41px;
}

article > h2 {
    margin-top: 30px;
}

.moreinf {
    margin-top: 30px;
}

.moreinf p {
font-size:18px;
}

.finishline{
    text-align:center;
    padding-top:20px;
    padding-bottom:30px;
    width:900px;
    margin-top:0px;
}

.smallbs{
    height:260px !important;
}

#stopallbtn {
    display: inline-block;
}

.playstop{
    background-color: transparent;
    color: var(--sfont);
    font-family: nehama;
    font-size: 18px;
    border-radius: 40px;
    padding: 0px 20px;
    /*position: sticky;
    height: 30px;
    right: 100px;
    float:left;
    margin-left:100px;
    margin-top:15px;*/
    border: 1px solid black;
    width:120px;
}

#playallbtn {
    display: none;
}

.playstop:hover {
    background-color: var(--spink-hover);
}

#undifiendsec {
    background-image: url('../image/undifiend/Untitled-2.png');
    background-position: bottom right;
    background-color: var(--sblue);
    background-size: 100% auto;
    height: calc(var(--hwwind) - 50px);
}

#h1und{
    font-family: nehama;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2.5PX;
    -webkit-text-stroke-color: black;
    margin-right: 95px;
    font-size: 40pt;
    
}

.undgif {
    float: left;
    MARGIN-left: 100PX;
    margin-right:0px;
}

#botnosavta {
    background-image: url('../image/homepage/bot.png');
    height:300px;
    width:280px;
    background-size:280px 300px;
    position:absolute;
    bottom:0px;
    right:100px;
}

#botsavta {
    background-image: url('../image/homepage/savtabot.png');
    height: 300px;
    width: 280px;
    background-size: 280px 300px;
    position: absolute;
    bottom: 0px;
    left: 100px;
}

#botnsbubble {
    background-image: url('../image/tips/Asset 1.svg');
    background-size: 250px 250px;
    PADDING-TOP: 60PX;
    PADDING-RIGHT: 20PX;
    padding-left:20px;
    height: 250PX;
    width: 250PX;
    background-color: TRANSPARENT;
    POSITION: ABSOLUTE;
    RIGHT: 300PX;
    FONT-SIZE: 20PX;
    -webkit-transform: scalex(-1) rotate(15deg);
    -moz-transform: scalex(-1) rotate(15deg);
    transform: scalex(-1) rotate(15deg);
}
#botnsbubble p {
    transform: scalex(-1)
}


#botsbubble {
    background-image: url('../image/tips/Asset 1.svg');
    background-size: 250px 250px;
    PADDING-TOP: 66PX;
    PADDING-RIGHT: 20PX;
    height: 250PX;
    width: 250PX;
    background-color: TRANSPARENT;
    POSITION: ABSOLUTE;
    left: 328PX;
    FONT-SIZE: 20PX;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
}
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 3.5s steps(30, end),
        blink-caret .75s step-end infinite
}

/* The typing effect */
@keyframes typing {
    0% {
        width: 0
    }

    25% {
        width: 100%
    }

    100% {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}


.arak {
    background-image: url('../image/ICON/arak.png');
}

.tea {
    background-image: url('../image/ICON/glass-of-water.png');
}

.tea1 {
    background-image: url('../image/ICON/tea.png');
}

.ginger {
    /*background-image: url('../image/ICON/ginger.png');*/
    background-image: url('../image/ICON/Asset 1@2x.png');
    background-size:100px 100px;
}

.lemom {
    background-image: url('../image/ICON/lemon (1).png');
}

.lemon1 {
    background-image: url('../image/ICON/lemon.png');
}

.honey {
    background-image: url('../image/ICON/honey.png');
}

.pot {
    background-image: url('../image/ICON/pot (1).png');
}

.pot1 {
    background-image: url('../image/ICON/pot.png');
}

.parasite {
    background-image: url('../image/ICON/parasite.png');
}

.parasite1 {
    background-image: url('../image/ICON/parasite (1).png');
}

#container > footer {
    background-color: var(--sgreen);
    padding-bottom: 10px;
    height: 300px;
    overflow: hidden;
    width: var(--wwwind);
    min-Width: 1263px;
    max-width: 1384px;
}

#container > footer h4{
text-align:center;
padding-bottom:20px;
padding-top:20px;
font-size:18px;
}

#container > footer>section{
width: 90%;
margin: 0 auto;
border-bottom: 2px dashed black;

}



#container > footer>ul {
    list-style:none;
    margin-bottom:0;
    display:inline-block;
    width:885px;
    vertical-align:top;
    margin-top:20px
}

#container > footer ul{
        list-style:none;

}

#container > footer>ul>li{
    padding-left:30PX;
    display:inline-block;
    vertical-align:top;
    text-align:right;
    color:var(--sfont) !important;
    font-weight:bold;

}

#container > footer > ul > li >ul{
padding-right:0px;
font-weight:normal;
padding-top: 7px;
    }

#container > footer>ul>li>a{
    color:var(--sfont) !important;
        padding-bottom:10px;
}

#container > footer > ul > li > ul> li> a {
    color: var(--sfont) !important;
}

.aiswork{
    text-decoration:underline;
    cursor:pointer;
}

#container > footer a.aiswork:hover {
    text-decoration: underline;
    color: #8F0037 !important;
    cursor: pointer !important;
}

#container > footer a:hover{
    text-decoration:none;
    cursor:default !important;
}

#interactivesec {
    background: -moz-radial-gradient(center, ellipse cover, rgba(101,219,236,1) 1%, rgba(65,157,226,1) 99%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(101,219,236,1) 1%,rgba(65,157,226,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(101,219,236,1) 1%,rgba(65,157,226,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#freepikdiv {
    background-image: url(../image/tips/freepik.svg);
    background-size: 347px 300px;
    width: 347px;
    height: 300px;
    padding: 117px 43px 10px 50px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    bottom: 50px;
    left: 24px;
    text-align: center;
}

#gotfont {
    font-family: 'Game of Thrones';
    font-size: 25px;
    padding-left: 10px;
}


.acssesh {
    text-indent: -10000px;
    direction: ltr;
    text-align: left;
    display: block;
    position: absolute;
    overflow: hidden;
}
ul.skip {
    position: absolute
}

ul.skip li {
    position: absolute;
    height: 1;
}

a.skip {
    font-size: 1.4em;
    height: 1px;
    left: 0;
    position: absolute;
    top: -1000px;
    width: 1px;
    color: #fff;
}

    a.skip:focus, a.skip:active {
        background-color: #f8f9fb;
        color: #5c5c5c;
        font-weight: bold;
        height: auto;
        font-size: 15px;
        background-image: url('../img/logo.png');
        background-position: 255px;
        background-repeat: no-repeat;
        background-size: 30px;
        font-size: 15px;
        padding: 8px 25px 8px 15px;
        position: absolute;
        right: 0px;
        text-align: center;
        top: 55px;
        border: 3px solid black;
        width: 295px;
        z-index: 90;
        color: #000 !important;
        outline: none;
        border-radius: 60px;
    }